$topPadding: 50px;

.user-card {
  background: white;
  position: absolute;
  height: 400px;
  display: none;
  width: 90%;
  margin: auto;
  top: 0;
  bottom: 0;
  &.--current {
    z-index: 5;
    display: block;
  }
  &.--prev {
    z-index: 6;
    display: block;
  }
  &.--like {
    animation: like 1s ease-out forwards;
  }
  &.--nope {
    animation: nope 1s ease-out forwards;
  }
  .user-card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.--flipped {
      .user-card__item {
        &.user-card__front {
          transform: rotateY(180deg);
        }
        &.user-card__back {
          transform: rotateY(0);
        }
      }
    }
  }

  .user-card__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    cursor: pointer;
    transition: transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: white;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    border-radius: 8px;

    &.user-card__front {
      .user-card__img {
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
      }
      .user-card__info {
        display: flex;
        background: white;
        width: 100%;
        border-radius: 8px;
        .name-text {
          padding-left: 10px;
          font-weight: bold;
          margin-right: 8px;
        }
        .age-text {
          font-weight: bold;
        }
      }
    }
    &.user-card__back {
      border-radius: 8px;
      transform: rotateY(-180deg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes like {
  0% {
    right: 0;
    transform: scale(1.05) rotate(0deg);
    display: block;
  }
  100% {
    right: -200%;
    transform: scale(1.05) rotate(15deg);
    display: none;
  }
}

@keyframes nope {
  0% {
    left: 0;
    transform: scale(1.05) rotate(0deg);
    display: block;
  }
  100% {
    left: -200%;
    transform: scale(1.05) rotate(-15deg);
    display: none;
  }
}
